@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: linear-gradient(
    0deg,
    rgba(13, 5, 3, 1) 0%,
    rgba(128, 9, 9, 1) 100%
  );
  --font: #fff;
  --mainColor: #fff;
  --subColor: #a9a9a9;
  --player: rgba(0, 0, 0, 0.5);
  --shadow: 0 15px 40px var(--player);
}
html {
  background: var(--background);
  display: flex;
  justify-content: center;
}
body {
  width: 100%;
  height: 100vh;
  max-width: 375px;
  position: relative;
  background: var(--background);
  font-family: "roboto", sans-serif;
  color: var(--font);
}
::-webkit-scrollbar {
  display: none;
}

/* home section */
.home {
  width: 100%;
  padding: 20px;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: auto;
}

/* slider */
.slider {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--shadow);
  position: relative;
}
.slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 1s;
}
.slider img.active {
  opacity: 1;
}
.head-title {
  margin: 30px 0 10px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 30px;
}
/* playlists card */
.recent-group {
  position: relative;
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.recent-track {
  flex: 0 0 auto;
  max-width: 150px;
  height: 100%;
  margin-right: 20px;
}
.recent-track-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}
.recent-track-name {
  width: 100%;
  text-align: justify;
  font-size: 20px;
  text-transform: capitalize;
  padding: 5px;
}
/* music player */
/* minimize view */
.player {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--player);
  backdrop-filter: blur(50px);
  transition: 1s;
}
.sound-bar-range {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  top: -4px;
  height: 8px;
  background: var(--subColor);
  overflow: hidden;
}
.sound-bar-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 5px;
  background: var(--mainColor);
  cursor: pointer;
  box-shadow: -400px 0 0 400px var(--mainColor);
}
.current-track-name {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  text-transform: capitalize;
}
.control-panel {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 30px;
}
.control-panel span {
  display: none;
  opacity: 0;
  transition: 1s;
}
.player.active .control-panel {
  justify-content: space-between;
}
.player.active .control-panel span {
  font-size: 25px;
  display: block;
  opacity: 0.5;
}
.player.active .control-panel span.active {
  color: var(--mainColor);
  opacity: 1;
}
.control-panel .main i {
  margin: 0 5px;
  display: none;
}
.control-panel .main i.active {
  display: inline;
}
/* maximize music player styles */
.player .hide {
  display: none;
  opacity: 0;
  transition: 1s;
}
.player.active .hide {
  display: block;
  opacity: 1;
}
.player.active {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.player.active .sound-bar-range {
  position: relative;
  display: block;
  border-radius: 50px;
  margin: auto;
}
.player.active .current-track-name {
  font-size: 40px;
}
.player.active .control-panel {
  width: 100%;
  font-size: 50px;
}
.current-track-artist {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}
.cover {
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  margin: auto;
  border-radius: 20px;
  box-shadow: var(--shadow);
}
.current-time {
  position: absolute;
  margin-top: 5px;
  left: 30px;
}
.duration {
  position: absolute;
  margin-top: 5px;
  right: 30px;
}
.icon {
  position: absolute;
  top: 60px;
  transform: scale(1.3);
}
.arrow-btn {
  left: 40px;
}
.menu-btn {
  right: 40px;
}
/* volume button */
.volume-range {
  -webkit-appearance: none;
  width: 100px;
  height: 40px;
  position: absolute;
  right: -35px;
  bottom: 80px;
  transform: rotate(-90deg);
  border-radius: 20px;
  background: var(--player);
  overflow: hidden;
  opacity: 0;
  display: none;
}
.volume-range.active {
  opacity: 1;
  display: block;
}
.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 10px;
  background: var(--mainColor);
  box-shadow: -200px 0 1px 200px var(--mainColor);
}
/* track-list section */
.track-list {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  padding: 30px 0;
  background: var(--background);
  z-index: 3;
  transition: 1s;
  overflow: auto;
}
.track-list.active {
  right: 0;
}
.title {
  font-weight: 300;
  fontt-size: 40px;
  text-align: center;
  margin-top: 15px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.track {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--player);
}
.track-cover {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}
.track-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.track-cover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--mainColor);
  display: none;
}
.track.active i {
  display: block;
}
.track .name {
  font-size: 22px;
  text-transform: capitalize;
}
